
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/plugins/jquery/js/jquery.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/plugins/jquery-ui/js/jquery-ui.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/plugins/popper.js/js/popper.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- jquery slimscroll js -->
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/plugins/jquery-slimscroll/js/jquery.slimscroll.js}"></script>
<!-- modernizr js -->
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/plugins/modernizr/js/modernizr.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/plugins/modernizr/js/css-scrollbars.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/admin/js/pcoded.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/admin/js/vartical-layout.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/admin/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- Custom js -->
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/js/script.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/admin/dropzone/dropzone.min.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/admin/account.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" type="text/javascript" th:src="@{/admin/js/js.js}"></script>