

<link rel="icon" xmlns:th="http://www.thymeleaf.org" th:href="@{/admin/images/favicon.ico}" type="image/x-icon" />
<!-- Google font-->
<link  href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
<!-- Required Fremwork -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{/admin/plugins/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{/admin/plugins/font-awesome/css/font-awesome.min.css}" />
<!-- themify-icons line icon -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{/admin/icon/themify-icons/themify-icons.css}" />
<!-- ico font -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{/admin/icon/icofont/css/icofont.css}" />
<!-- feather Awesome -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{/admin/icon/feather/css/feather.css}" />
<!-- Style.css -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{/admin/css/style.css}" />
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{/admin/css/jquery.mCustomScrollbar.css}" />
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{/admin/dropzone/dropzone.min.css}" />
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}" />
